.topo {
    height: 150px;
}
.large-container{
    display:flexbox;
    flex-direction: row;
    justify-content:center;
}
/* .nav{
    height: 50px;
} */
.logoTipo{
    width: 3%;
    float: left;
    display: block;
}